body{
    font-family: 'Roboto', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
.heading-color{
    color: goldenrod;
}
section{
    display: flex;
    margin-bottom: 100px;
}
.half-width{
    width: 50%;
    padding: 10px;
}
.half-width img{
width: 100%;
}
.link-button{
    text-decoration: none;
    background: linear-gradient(to right, rgba(238, 106, 19, 0.7), rgba(72, 36, 14, 0.7)), url("https://loremflickr.com/720/640") ; 
    border-radius: 5px;
    padding: 10px 25px;
    color: white;
    font-weight: 900;
}
.top-banner{
    background-image: url(images/top-banner.png);
    background-repeat: none;
}
.dream-big{
    background-image: url(images/circle.png);
    background-repeat: no-repeat;
    background-position: right;
}